NEXT_PUBLIC_SUPABASE_URL=https://fvkjeteywfcppbtovbiv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ2a2pldGV5d2ZjcHBidG92Yml2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxOTU2NzEsImV4cCI6MjA4OTc3MTY3MX0.5pOcpCSWn98Vvmq4IBQkWWv-nvvA6zbeUZXjSQ3cfC0
